[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
UserSettings/
MemoryCaptures/
*.csproj
*.sln
*.user
*.pidb
*.unityproj
*.log
*.vsidx
.DS_Store

Sleep Duster/.vs/Sleep Duster/CopilotIndices/17.14.878.3237/CodeChunks.db
Sleep Duster/.vs/Sleep Duster/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
Sleep Duster/.vs/Sleep Duster/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
Sleep Duster/.vs/Sleep Duster/CopilotIndices/17.14.878.3237/SemanticSymbols.db
Sleep Duster/.vs/Sleep Duster/CopilotIndices/17.14.878.3237/SemanticSymbols.db-shm
Sleep Duster/.vs/Sleep Duster/CopilotIndices/17.14.878.3237/SemanticSymbols.db-wal
Sleep Duster/.vs/Sleep Duster/CopilotIndices/17.14.878.3237/CodeChunks.db
Sleep Duster/.vs/Sleep Duster/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
Sleep Duster/.vs/Sleep Duster/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
Sleep Duster/.vs/Sleep Duster/CopilotIndices/17.14.878.3237/SemanticSymbols.db
Sleep Duster/.vs/Sleep Duster/CopilotIndices/17.14.878.3237/SemanticSymbols.db-shm
Sleep Duster/.vs/Sleep Duster/CopilotIndices/17.14.878.3237/SemanticSymbols.db-wal
Sleep Duster/.vs/Sleep Duster/CopilotIndices/17.14.878.3237/SemanticSymbols.db
Sleep Duster/.vs/Sleep Duster/CopilotIndices/17.14.878.3237/SemanticSymbols.db-wal
Sleep Duster/.vs/Sleep Duster/v17/.suo
Sleep Duster/.vs/Sleep Duster/v17/DocumentLayout.backup.json
Sleep Duster/.vs/Sleep Duster/v17/DocumentLayout.json
